<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Rails.application.credentials.google_maps_api_key+'&libraries=places&callback=initMap' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta charset="UTF-8"/>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet"/>
    <%= yield(:head_tags) %> </head>
  <body>
    <%= yield %>
    <div class="backgroundImg">
      <% if (session[:user_id]!=nil) %>
        <%= image_tag (User.find(session[:user_id]).background), class: "background" %>
        <% else %>
        <%= image_tag ("default.png"), class: "background" %>
        <% end %>
      <div class="overlay"></div>-->
    </div>
  </body>
</html>
