!!!
%html{:lang => "en", class: "container"}
  %head
    %title #{@user.username}'s profile - VGDatabase
  %body.visible
    %aside.sidebar.normal
      %nav
        %ul.sidebar__nav
          %li
            %a.sidebar__nav__link_plain_img
              =image_tag ('logo-normal.png')
          %li
            %a.sidebar__nav__link{:href => homepage_path, "data-method" => "get"}
              %i.mdi.mdi-home
              %span.sidebar__nav__text Homepage
          %li
            %a.sidebar__nav__link{:href => collection_path, "data-method" => "get"}
              %i.mdi.mdi-library-movie
              %span.sidebar__nav__text Collection
          %li
            %a.sidebar__nav__link{:href => selling_path, "data-method" => "get"}
              %i.mdi.mdi-shopping
              %span.sidebar__nav__text  Selling
          %li
            %a.sidebar__nav__link{:href => searchGame_path, "data-method" => "get"}
              %i.mdi.mdi-database-search
              %span.sidebar__nav__text Search
          %li
            %a.sidebar__nav__link{:href => friends_path, "data-method" => "get"}
              %i.mdi.mdi-account-multiple
              %span.sidebar__nav__text Friends
          %li.active
            %a.sidebar__nav__link_plain{}
              =image_tag (@user.avatar), class: "img3"
              %span.sidebar__nav__text My account
          %li
            %a.sidebar__nav__link{:href => login_path, "data-method" => "delete"}
              %i.mdi.mdi-logout-variant
              %span.sidebar__nav__text Log out 
          %li
            %a.sidebar__nav__link{:href => contactUs_path, "data-method" => "get"}
              %i.mdi.mdi-information
              %span.sidebar__nav__text Contact us
    %br/
    %h1 My profile
    %div.page-content
      %br/
      .my-account-wrapper
        .account-grid-system
          .account-grid-item-1
            .profile-pic-details
              =image_tag (@user.avatar)
            .grid-item-detailsProfile
            .grid-item-details-button
              %p.profile-hyper-links
                %a{:href => editProfile_path, "data-method" => "get"} Edit account info 
                %i.mdi.mdi-pencil
          .account-grid-item-2-alt
            .grid-item-details
              %h5.sub-header-details Username:
              %span #{@user.username}
            .grid-item-details
              %h5.sub-header-details Email:
              %span #{@user.email}
            .grid-item-details
              %h5.sub-header-details Games in your library:
              %span #{Store.where(:user_id => @user.id).length}
            - if @user.steam_username!=nil
              .grid-item-details
                %h5.sub-header-details Linked account:
                %a{:href => "https://steamcommunity.com/id/"+@user.steam_username, :target => "_blank"}
                  %span.mdi.mdi-steam
                  %span #{@user.steam_username}
            -if  @user.social1!='' || @user.social2!='' || @user.social3!=''
              .grid-item-details
                %h5.sub-header-details Social account
                %br
                %a{:href => @user.social1, :target => "_blank"}  #{@user.social1}
                %br
                %a{:href => @user.social2, :target => "_blank"}  #{@user.social2}
                %br
                %a{:href => @user.social3, :target => "_blank"}  #{@user.social3}
                %br   
          .account-grid-item-3-alt
            .grid-item-details
              %span Friends
            -if @friends.length==0 && @friends1.length==0
              .grid-item-detailsImg
                %span You don't have friends
            -else
              -if @friends.exists?
                - @friends.each do |friend|
                  .grid-item-detailsImg
                    =image_tag (User.find(friend.friend_id).avatar) ,class: "reviewImg"
                    %a{:href => visit_profile_path(friend.friend_id), "data-method" => "get"} #{User.find(friend.friend_id).username}
                    %i.mdi.mdi-star.friendStar
              -if @friends1.exists?
                - @friends1.each do |friend|
                  .grid-item-detailsImg
                    =image_tag (User.find(friend.friend_id).avatar) ,class: "reviewImg"
                    %a{:href => visit_profile_path(friend.friend_id), "data-method" => "get"} #{User.find(friend.friend_id).username}
          .account-grid-item-4
            .grid-item-details
              %span Chat
            -if @room.length==0 && @room1.length==0
              .grid-item-detailsImg
                %span You don't have active chats
            -else 
              - @room.each do |room|
                .grid-item-detailsImgAlt
                  =image_tag (User.where(:username => room.user)[0].avatar) ,class: "reviewImg"
                  %a{:href => room_path(Room.where(:user => room.user,:user1 => room.user1)[0].id), "data-method" => "get"} #{User.where(:username => room.user)[0].username}
                  -if RoomMessage.exists?(:room_id => room.id)
                    -if (RoomMessage.where(:room_id => room.id).last.user_id==User.where(:username => room.user1)[0].id)
                      -if (RoomMessage.where(:room_id => room.id).last.message.length>17)
                        %h6 You: #{RoomMessage.where(:room_id => room.id).last.message.slice(0..17)}...
                      -else
                        %h6 You: #{RoomMessage.where(:room_id => room.id).last.message}
                    -else
                      -if (RoomMessage.where(:room_id => room.id).last.message.length>17)
                        %h6 #{RoomMessage.where(:room_id => room.id).last.message.slice(0..17)}...
                      -else
                        %h6 #{RoomMessage.where(:room_id => room.id).last.message}
              - @room1.each do |room1|
                .grid-item-detailsImgAlt
                  =image_tag (User.where(:username => room1.user1)[0].avatar) ,class: "reviewImg"
                  %a{:href => room_path(Room.where(:user1 => room1.user1,:user => room1.user)[0].id), "data-method" => "get"} #{User.where(:username => room1.user1)[0].username}
                  -if RoomMessage.exists?(:room_id => room1.id)
                    -if (RoomMessage.where(:room_id => room1.id).last.user_id==User.where(:username => room1.user)[0].id)
                      -if (RoomMessage.where(:room_id => room1.id).last.message.length>17)
                        %h6 You: #{RoomMessage.where(:room_id => room1.id).last.message.slice(0..17)}...
                      -else
                        %h6 You: #{RoomMessage.where(:room_id => room1.id).last.message}
                    -else
                      -if (RoomMessage.where(:room_id => room1.id).last.message.length>17)
                        %h6 #{RoomMessage.where(:room_id => room1.id).last.message.slice(0..17)}...
                      -else
                        %h6 #{RoomMessage.where(:room_id => room1.id).last.message}
        %br/
        %br/
        %div
          .reviewHeader
            %h5 Your reviews
          .reviewDiv
            - if (@review.length==0)
              .reviewUser
                %h5.reviewText_alt You don't have any reviews
            - else
              - @review.each do |review|
                - @game = Game.find(review.game_id)
                .reviewUser
                  =image_tag (@game.cover) ,class: "reviewImg" 
                  %a{:href => game_path(@game)} #{@game.title}
                  - if (review.score==1)
                    %i.mdi.mdi-star.reviewStar.right4
                  - elsif (review.score==2)
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                  - elsif (review.score==3)
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                  - elsif (review.score==4)
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                  - else
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4                
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                    %i.mdi.mdi-star.reviewStar.right4
                  %div{:href => "#"}
                  - if (review.comments != "")
                    %h5.reviewText #{review.comments}
