<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="container" lang="en">

<head>
    <title>Chat - VGDatabase</title>
</head>

<body class="visible">
    <aside class="sidebar normal">
        <nav>
            <ul class="sidebar__nav">
                <li>
                    <a class="sidebar__nav__link_plain_img">
                        <%= image_tag ('logo-normal.png') %>
                    </a>
                </li>
                <li>
                    <a class="sidebar__nav__link" data-method="get" href="<%= homepage_path %>">
                        <i class="mdi mdi-home"></i>
                        <span class="sidebar__nav__text">Homepage</span>
                    </a>
                </li>
                <li>
                    <a class="sidebar__nav__link" data-method="get" href="<%= collection_path %>">
                        <i class="mdi mdi-library-movie"></i>
                        <span class="sidebar__nav__text">Collection</span>
                    </a>
                </li>
                <li>
                    <a class="sidebar__nav__link" data-method="get" href="<%= selling_path %>">
                        <i class="mdi mdi-shopping"></i>
                        <span class="sidebar__nav__text">Selling</span>
                    </a>
                </li>
                <li>
                    <a class="sidebar__nav__link" data-method="get" href="<%= searchGame_path %>">
                        <i class="mdi mdi-database-search"></i>
                        <span class="sidebar__nav__text">Search</span>
                    </a>
                </li>
                <li>
                    <a class="sidebar__nav__link" data-method="get" href="<%= friends_path %>">
                        <i class="mdi mdi-account-multiple"></i>
                        <span class="sidebar__nav__text">Friends</span>
                    </a>
                </li>
                <li>
                    <a class="sidebar__nav__link" data-method="get" href="<%= myProfile_path %>">
                        <%= image_tag (User.find(session[:user_id]).avatar), class: "img3" %>   
                        <span class="sidebar__nav__text">My account</span>
                    </a>
                </li>
                <li>
                    <a class="sidebar__nav__link" data-method="delete" href="<%= login_path %>">
                        <i class="mdi mdi-logout-variant"></i>
                        <span class="sidebar__nav__text">Log out </span>
                    </a>
                </li>
                <li>
                    <a class="sidebar__nav__link" data-method="get" href="<%= contactUs_path %>">
                        <i class="mdi mdi-information"></i>
                        <span class="sidebar__nav__text">Contact us</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <br />
    <i class="return mdi mdi-arrow-left-bold">
        <a data-method="get" href="<%= myProfile_path%>">back to profile</a>
    </i>
    <%if (User.find(session[:user_id]).username==@room.user1)%>
    <h1>
        Chat with <%= @room.user %>
    </h1>
    <%else%>
    <h1>
        Chat with <%= @room.user1 %>
    </h1>
    <%end%>


    <div class="page-content">
        <div class="chatBox">
            <br>
            <%if (User.find(session[:user_id]).username==@room.user1)%>
            <% @room_messages.each do |room_message| %>
            <% if User.find(room_message.user_id).username==@room.user1%>
            <div class="from-me">
                <p class="from-me-text"><%= room_message.message %></p>
                <p class="from-me-date"><%= room_message.created_at.strftime('%d %B %Y - %H:%M') %></p>
            </div>
            <br>
            <%else%>
            <div class="from-them">
                <p class="from-them-text"><%= room_message.message %></p>
                <p class="from-them-date"><%= room_message.created_at.strftime('%d %B %Y - %H:%M') %></p>
            </div>
            <% end %>
            <% end %>
            <%else%>
            <% @room_messages.each do |room_message| %>
            <% if User.find(room_message.user_id).username!=@room.user1%>
            <div class="from-me">
                <p class="from-me-text"><%= room_message.message %></p>
                <p class="from-me-date"><%= room_message.created_at.strftime('%d %B %Y - %H:%M') %></p>
            </div>
            <br>
            <%else%>
            <div class="from-them">
                <p class="from-them-text"><%= room_message.message %></p>
                <p class="from-them-date"><%= room_message.created_at.strftime('%d %B %Y - %H:%M') %></p>
            </div>
            <% end %>
            <% end %>
            <% end %>
        </div>
        <div class="floatChat">
            <%= form_tag  room_path(@room.id),  :method => :put do %>
            <div>
                <input autocomplete="off" minlength="1" maxlength="250" name="text" placeholder="Write a message" type="text"></input>
            </div>
            <button class="buttonSend" type="submit">Send</button>
            <% end %>
        </div>
    </div>